/* The font I use (for personal use only) */
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* The head colors */
:root {
    --primary: #321119;
    --secondary: #ED5338;
}

/* General code */
body {
    background-color: #121212;
    padding: 15px;
}


/* Setting the background */
.evening {
    /* Location of the image */
    background-image: url("images/Evening.jpg"); 
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center; 
    /* Do not repeat the image */
    background-repeat: no-repeat; 
    /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
    background-attachment: fixed;
    /* Resize the background image to cover the entire container */
    background-size: cover; 
    /* Set a background color that will be displayed while the background image is loading */
    background-color: rgb(125, 0, 73);
}

.night {
    background-image: url("images/Night.jpg");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    background-color: rgb(0, 30, 73);
}

.morning {
    background-image: url("images/Morning.jpg");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    background-color: rgb(255, 77, 41);
}

.day {
    background-image: url("images/Day.jpg");
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    background-color: rgb(169, 213, 255);
}


/* Header */

/* SpaceX logo */
.logo {
    max-width: 250px;
	max-height: 35px;
    width: 50%;
    display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Main */

/* Setting the grid */
.dashboard-clock {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 15px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
	padding-top: 30px;
}

/* Applying the grid */
.data-clock {
    grid-column: 1 / span 12;
}

section {
    background-color:rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}

/* Styling the time */
#displayTime {
    font-family: "GothamBold", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 32px;
    line-height: 24px;
    margin-top: 15px;
    text-align: center;
}

/* Styling the date */
#date {
    font-family: "GothamLight", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 20px;
    line-height: 16px;
    margin-top: 10px;
    text-align: center;
}


/* The breakpoints */

/* Intermediate version of mobile and tablet (450px) */
@media (min-width: 450px) {
    .data-clock {
        grid-column: 2 / span 10;
    }

    section {
        padding: 13px;
    }

    #displayTime {
        font-size: 36px;
        line-height: 28px;
        margin-top: 18px;
    }

    #date {
        font-size: 24px;
        line-height: 22px;
        margin-top: 13px;
    }
}

/* Tablet version (768px) */
@media (min-width: 768px) {
    .dashboard-clock {
        grid-gap: 30px;
    }

    .data-clock {
        grid-column: 3 / span 8;
    }

    section {
        padding: 20px;
    }

    #displayTime {
        font-size: 42px;
        line-height: 28px;
        margin-top: 22px;
    }

    #date {
        font-size: 26px;
        line-height: 22px;
        margin-top: 18px;
    }
}

/* Laptop version (1024px) */
@media (min-width: 1024px) {
    .dashboard-clock {
        grid-gap: 35px;
    }

    #displayTime {
        font-size: 50px;
        line-height: 32px;
        margin-top: 25px;
    }

    #date {
        font-size: 30px;
        line-height: 26px;
        margin-top: 20px;
    }
}

/* Intermediate version of laptop and desktop (1280px) */
@media (min-width: 1280PX) {
    section {
        padding: 30px;
    }

    #displayTime {
        font-size: 60px;
        line-height: 38px;
        margin-top: 30px;
    }

    #date {
        font-size: 34px;
        line-height: 30px;
        margin-top: 24px;
    }
}

/* Desktop version (1920px) */
@media (min-width: 1920PX) {
    .dashboard-clock {
        grid-gap: 45px;
        margin-left: auto;
		margin-right: auto;
		max-width: 2560px;
    }

    section {
        padding: 45px;
    }

    #displayTime {
        font-size: 80px;
        line-height: 48px;
        margin-top: 34px;
    }

    #date {
        font-size: 40px;
        line-height: 34px;
        margin-top: 30px;
    }
}