/* The font I use (for personal use only) */
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/Gotham-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/GothamLight.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* The head colors */
:root {
    --primary: #321119;
    --secondary: #ED5338;
}

/* General code */
body {
    background-color: #121212;
    padding: 15px;
}


/* Setting the background */
.evening {
    background-image: url("images/Evening.jpg"); 
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.night {
    background-image: url("images/Night.jpg");
    /* height: 300px; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.morning {
    background-image: url("images/Morning.jpg");
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.day {
    background-image: url("images/Day.jpg");
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


/* Header */

/* SpaceX logo */
.logo {
    max-width: 250px;
	max-height: 35px;
    width: 50%;
    display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Main */

/* Setting the grid */
.dashboard-clock {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 15px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
	padding-top: 30px;
}

/* Applying the grid */
.data-clock {
    grid-column: 1 / span 12;
}

section {
    background-color:rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}

/* Styling the time */
#displayTime {
    font-family: "GothamBold", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 30px;
    line-height: 26px;
    margin-top: 15px;
    text-align: center;
}

/* Styling the date */
#date {
    font-family: "GothamLight", Helvetica, sans-serif;
    color: var(--primary);
    font-size: 24px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
}